/* stylelint-disable property-no-unknown */
@import './variables.scss';
:export {
  sidebar-width: $sidebar-width;
  navbar-height: $navbar-height;
  menu-background: $menu-background;
  menu-text: $menu-text;
  menu-active-text: $menu-active-text;
  menu-hover: $menu-hover;
  sub-menu-background: $sub-menu-background;
  sub-menu-active-text: $sub-menu-active-text;
  sub-menu-hover: $sub-menu-hover;
  //主要字体颜色
  main-color: $main-color;
}
/* stylelint-enable property-no-unknown */
